.header{
    text-align: center;
}
.nav{
    background-color: #8ecae6;
    overflow: hidden;
    
}
.nav a{
    float: left;
    display: block;
    color: #023047;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
    background-color: #8ecae6;
}
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.active{
    margin-left: 20px;
}
.nav a:hover{
    background-color: #023047;
    color: #8ecae6;
}

.Container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.Container > div {
    padding: 0px;
    font-size: 14px;
    text-align: justify;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h4{
    text-align: center;
    text-decoration: white;
}
.Container > div:hover{
    border: 3px solid #003049;
}
footer {
    background-color: #023047;
    width: 100%;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}